/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Asap', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 125px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    font-size: 10vw;
}

h4 {
    letter-spacing: 1px;
    color: #252525;
    font-size: 4vw;
    font-weight: normal;
    text-align: justify;
}

h5 {
    color: #dddddd;
    font-size: 3.5vw;
    font-weight: normal;
    text-align: justify;
}


#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 5px;
    margin-left: 10px;
}

.active {
    color: blue;
    font-weight: bold;

}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem 1rem;
    display: none;
    top: 100%;
}

/* Nan toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.active {
    color: #961212;
}


/* Main content */
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 130px;
}

/* Legend section */
#legend {
    height: 70vh;
    width: 100%;
    background: url("../images/legend_bg_web2.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    position: absolute;
    margin: 22px 20px;
    line-height: 1.5;

}

/* Gallery Page */

#gallery {
    position: relative;
}

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

#whatis {
    position: absolute;
    margin: 10px 20px;
    line-height: 1.2;
}

#gedas_flex {
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
}

#gediminas {
    width:100%;
    align-self: center;
}

#left_gedas {
    width:100%;
    padding: 10%;
    align-self: center;
    line-height: 1.5;
}

#right_gedas {
    width:100%;
    padding: 10%;
    line-height: 1.5;

}

/* Footer */
#social-networks {
    background-color: white;
    text-align: right;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 100%;
    padding: 5%;
    color: rgb(82, 82, 82);
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 3;
        column-gap: 0;
    }

    h4 {
        letter-spacing: 1px;
        color: #252525;
        font-size: 1vw;
        font-weight: normal;
        text-align: justify;
    }

    #whatis {
        position: absolute;
        width: 30%;
        padding: 20px;
        margin: 20px;
        line-height: 1.2;
        background-color: #e3e8f5a3;
    }
}

/* Media query: iPhone SE */
@media screen and (width:375px) and (height:667px) {

    h5 {
        font-size: 2.7vw;

    }

    #cover-text {
        margin: 30px 25px;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

/* Media query: Galaxy S8+ */
@media screen and (width:360px) and (height:740px) {

    h5 {
        font-size: 2.9vw;

    }

    #cover-text {
        margin: 30px 25px;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

/* Media query: Galaxy S8+ */
@media screen and (width:540px) and (height:720px) {

    h5 {
        font-size: 1.9vw;

    }

    #cover-text {
        margin: 10px 25px;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        top: -76px;
    }

    h5 {
        font-size: 2.3vw;

    }

    #menu {
        display: flex;
        font-size: 140%;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        width: 180px;
        margin-top: 1rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 220px;
    }

    /* Legend section */
    #legend {
        height: 80vh;
    }

    #cover-text {
        margin: 70px 60px;
        letter-spacing: 1px;
        line-height: 1.5;
    }

    /* Gallery */
    #photos {
        column-count: 2;
    }
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width:992px) {

    #menu {
        display: flex;
        font-size: 120%;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    h5 {
        font-size: 2.2vw;
    }

    /* Legend section */
    #legend {
        height: 70vh;
        background: url("../images/legend_bg_web2.webp") no-repeat center top 77%/cover;
    }

    #cover-text {
        margin: 70px 50px 0px 50px;
        letter-spacing: 2px;
        line-height: 1.55;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width:1100px) {

    h5 {
        font-size: 1.1vw;
    }

    #cover-text {
        margin: 0px 650px 0px 0px;
        padding: 15px 25px;
        letter-spacing: 2px;
        line-height: 1.55;
        background-color: rgba(0, 0, 0, 0.554);
        height: 100%;
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width:1300px) {

    h5 {
        font-size: 1vw;
    }

    #cover-text {
        margin: 0px 850px 0px 0px;
        padding: 20px 25px;
        letter-spacing: 1px;
        line-height: 1.5;
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width:1550px) {

    h5 {
        font-size: 0.9vw;
    }

    /* Legend section */
    #legend {
        height: 70vh;
        background: url("../images/legend_bg_web2.webp") no-repeat center top 77%/cover;
    }

    #cover-text {
        margin: 0px 1100px 0px 0px;
        padding: 20px 25px;
        letter-spacing: 1px;
        line-height: 1.5;
        background-color: rgba(0, 0, 0, 0.554);
        height: 100%;
    }

}

/* Media query: screens larger (2000px and up) */
@media screen and (min-width:1750px) {

    h5 {
        font-size: 0.9vw;
    }

    #cover-text {
        margin: 0px 1100px 0px 0px;
        padding: 45px 35px 0 25px;
        letter-spacing: 2px;
        line-height: 1.7;
    }

}

/* Media query: screens larger (2000px and up) */
@media screen and (min-width:2000px) {

    h5 {
        font-size: 0.8vw;
    }

    #cover-text {
        margin: 0px 1500px 0px 0px;
        padding: 45px 35px 0 25px;
        letter-spacing: 2px;
        line-height: 1.7;
    }

}

/* Media query: screens larger (2000px and up) */
@media screen and (min-width:2200px) {

    h5 {
        font-size: 0.8vw;
    }

    #cover-text {
        margin: 0px 1600px 0px 0px;
        padding: 45px 35px 0 25px;
        letter-spacing: 2px;
        line-height: 1.7;
    }

}


/* Media query: screens larger (2000px and up) */
@media screen and (min-width:2700px) {

    h5 {
        font-size: 0.6vw;
    }

    #cover-text {
        margin: 0px 2060px 0px 0px;
        padding: 45px 35px 0 25px;
        letter-spacing: 2px;
        line-height: 2;
    }

}